.pixel {
  --size: 20px;
  background-color: var(--color);
  height: var(--size);
  width: var(--size);
}

.row {
  display: flex;
  --color: "pink";
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.display-container {
  position: relative;
  cursor: crosshair;
}
.active-container {
  border: 10px dashed yellow;
}
.onion-container {
  position: absolute;
  top: 0;
  pointer-events: none;
  border: 10px solid rgba(0, 0, 0, 0);
}

.loading-dialog {
  position: absolute;
  width: 50vw;
  z-index: 1000000;
}
.loading-dialog > img {
  width: 100%;
}
.loading-dialog > h1 {
  text-align: center;
}

.onion-button-on {
  background-color: greenyellow;
}
.onion-button-off {
  opacity: 0.5;
  background-color: slategray;
}
